@import './reset';
@import './typography';
@import './variables';

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-content: $align;
    align-items: $align;
}

body {
    position: relative;
    height: 100%;
    color: var(--midsummer-night);
    background-image: url('/assets/media/images/pattern-light-bg.svg');
    @include flex(column, flex-start, flex-start);

    &::before {
        content: '';
        position: absolute;
        background: var(--card-gradient);
        background-repeat: repeat;
        background-image: url('/assets/media/images/pattern-light-bg.svg');
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        backdrop-filter: blur(100px);
        z-index: -1;
    }
}

section,
footer {
    width: 100%;
    @include flex(column, flex-start, flex-start);
    gap: var(--spacing-2xl);

}


section {
    padding: var(--spacing-4xl) var(--spacing-default);
    text-align: left;
}

p,
a {
    @include bodyText();
    color: var(--midsummer-night);
    margin-bottom: var(--spacing-xl);

    .semibold {
        @include bodyTextBold();
    }
}

button {
    max-width: 38rem;
    @include bodyTextHeading();
    text-transform: uppercase;
    @include flex(row, center, center);
    border-radius: var(--border-radius-default);
    padding: var(--spacing-m) var(--spacing-l);
    gap: var(--spacing-default);
    margin-bottom: var(--spacing-m);
    transition: all .25s ease-in;
    font-size: var(--font-size-title-mobile);
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

}

.hero .cta button,
.btn-secondary {
    background: var(--seashell);
    border: 2px solid var(--stellar-explorer);
    color: var(--stellar-explorer);

    &:hover {
        background: linear-gradient(90deg, var(--powdered-peach) 0%, var(--seashell) 100%);

    }

    &:focus {
        border: 4px solid var(--stellar-explorer);
        background: linear-gradient(90deg, var(--powdered-peach) 0%, var(--seashell) 100%);
        box-shadow: 0px 0px 0px 3px var(--seashell), 0px 0px 0px 5px (--midsummer-night);
    }

    .on-dark {
        display: none;
    }
}


h1 {
    @include displayTextHeader();
    background-image: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: var(--spacing-l);
}

h2 {
    @include displayTextSecondaryHeader();
}

h3 {
    @include displayTitle();
}

h4 {

    @include displayTextSecondaryHeader();
    @include flex(row, center, center);
    color: var(--stellar-explorer);

    span {
        @include bodyTextHeading();
        padding-left: 8px;
        color: var(--midsummer-night);
        font-family: var(--default-font-body);
        font-weight: var(--font-weight-default);
        font-size: 2rem;
        line-height: 140%;
        letter-spacing: -0.5px;
    }
}

h5,
h6 {
    @include bodyTextSubtitle();

}

article {
    width: 100%;
    display: flex;
    @include flex(column, center, flex-start);
    padding: var(--spacing-l);
    gap: var(--spacing-l);
    border-radius: var(--border-radius-default);
    border: 1px solid var(--bridal-veil);

}

hr {
    height: 1px;
    width: 100%;
}


ul {
    li {
        @include flex(row, flex-start, flex-start);
        gap: var(--spacing-default);

        p {
            margin: 0;
        }
    }
}

ol li span {
    @include displaySubTitle();
}

blockquote {
    h2 {
        @include displayTitle();
    }

    h3 {
        @include bodyText();
        font-family: var(--default-font-body);
    }
}

footer .cta {
    h6 {
        color: var(--blanc);
    }

    button {
        background: var(--stellar-explorer);
        border: 2px solid var(--blanc);
        color: var(--blanc);

        &:hover {

            background: linear-gradient(90deg, var(--midsummer-night) 0%, var(--stellar-explorer)100%);
        }

        &:focus {
            border: 4px solid var(--blanc);
            background: linear-gradient(90deg, var(--midsummer-night) 0%, var(--stellar-explorer)100%);
            box-shadow: 0px 0px 0px 3px var(--seashell), 0px 0px 0px 5px (--ivory-tower);
        }

        .on-light {
            display: none;
        }
    }
}

.desktop-column {
    width: 100%;
    @include flex(column, flex-start, flex-start);
    gap: var(--spacing-2xl);
}

@media screen and (min-width: 37.5em) {
    /* Tablet > 600px */
    section {
        padding: var(--spacing-4xl) var(--spacing-xl);
    }

    h1 {
        padding-right: 10rem;
    }

}

@media screen and (min-width: 56.25em) {

    /* Desktop > 900px */
    section {
        @include flex(row, space-between, flex-start);
        padding: var(--spacing-5xl) 0;
    }

    body {
        align-items: center;
    }

    .desktop-column {
        width: 57rem;
        @include flex(column, space-between, flex-start);
        gap: var(--spacing-2xl);
    }
}