---
import ResponsiveImage from './ResponsiveImage.astro';

const featuresList = [
  'Monthly curated tech reads selected by industry experts',
  'Virtual and in-person meetups for deep-dive discussions',
  'Early access to new tech book releases',
  'Author Q&A sessions with tech thought leaders',
];
---

<section class='features'>
  <div class='desktop-column'>
    <h2>Read together, grow together</h2>
    <ul>
      {
        featuresList.map((feature) => (
          <li>
            <img src='/assets/media/icons/icon-check.svg' alt='check' />
            <p>{feature}</p>
          </li>
        ))
      }
    </ul>
  </div>
  <ResponsiveImage
    mobileImgUrl='/assets/media/images/image-read-together-mobile.webp'
    tabletImgUrl='/assets/media/images/image-read-together-tablet.webp'
    desktopImgUrl='/assets/media/images/image-read-together-desktop.webp'
    alt='read together'
  />
</section>

<style lang='scss'>
  .features {
    background-color: var(--blanc);
    ul li {
      margin-bottom: var(--spacing-default);
    }
    @media screen and (min-width: 56.25em) {
      /* Desktop > 1200px */
      max-width: 117rem;
      flex-direction: row-reverse;
    }
  }
</style>
