---

---

<div class='stars'>
  <img src='/src/assets/media/icons/icon-star.svg' alt='star' />
  <img src='/src/assets/media/icons/icon-star.svg' alt='star' />
  <img src='/src/assets/media/icons/icon-star.svg' alt='star' />
  <img src='/src/assets/media/icons/icon-star.svg' alt='star' />
  <img src='/src/assets/media/icons/icon-star.svg' alt='star' />
</div>

<style lang='scss'>
  .stars {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-bottom: var(--spacing-l);
  }
</style>
