---

---
<ul class='stars'>
  <li><img src='/assets/media/icons/icon-star.svg' alt='star' /></li>
  <li><img src='/assets/media/icons/icon-star.svg' alt='star' /></li>
  <li><img src='/assets/media/icons/icon-star.svg' alt='star' /></li>
  <li><img src='/assets/media/icons/icon-star.svg' alt='star' /></li>
  <li><img src='/assets/media/icons/icon-star.svg' alt='star' /></li>
</ul>

<style lang='scss'>
  .stars {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-bottom: 4px;
  }
</style>
