---
import CTA from './CTA.astro';
const year = new Date().getFullYear();

const socialLinks = [
  {
    platform: 'BlueSky',
    link: 'http://bluesky.com',
    icon: '/assets/media/images/logo-bluesky.svg',
  },
  {
    platform: 'LinkedIn',
    link: 'http://linkedIn.com',
    icon: '/assets/media/images/logo-linkedin.svg',
  },
];
---

<footer>
  <h2>Ready to debug your reading list?</h2>
  <CTA />
  <hr />
  <div class='attribution'>
    <h6>&copy {year} - Tech Book Club</h6>
    <ul class='socials'>
      {
        socialLinks.map((socials) => (
          <li>
            <a href={socials.link}>
              <img src={socials.icon} alt={socials.platform} />
            </a>
          </li>
        ))
      }
    </ul>
    <p class='info'>
      Challenge by <a
        href='https://www.frontendmentor.io?ref=challenge'
        target='_blank'>Frontend Mentor</a
      >. Coded by <a href='ChandaAbdul.dev' target='_blank'>Chanda Abdul</a>.
    </p>
  </div>
</footer>

<style lang='scss'>
  footer {
    background: var(--stellar-explorer);
    background-image: url('/assets/media/images/pattern-dark-bg.svg');
    padding: var(--spacing-l) var(--spacing-default);
    font-size: var(--font-size-subtitle);
    text-align: center;
    margin-bottom: var(--spacing-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-2xl);
    padding: var(--spacing-4xl) var(--spacing-default) 0px
      var(--spacing-default);
    border-radius: var(--spacing-default) var(--spacing-default) 0px 0px;
    hr {
      background-color: var(--midsummer-night);
      height: 1px;
      width: 100%;
      margin: var(--spacing-default) 0 0 0;
    }
    * {
      color: var(--ivory-tower);
    }
    .cta {
      button {
      }
      h6 {
        text-align: left;
        color: var(--ivory-tower);
      }
    }
    .attribution {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-default);

      .socials {
        display: flex;
        gap: var(--spacing-l);
      }
      p,
      a {
        font-size: 1.1rem;
      }
      a {
        color: var(--seashell);
        font-weight: var(--font-weight-display);
      }
    }
  }
</style>
