---
import CTA from './CTA.astro';
import ResponsiveImage from './ResponsiveImage.astro';
---

<section class='hero'>
  <h1>Join the ultimate tech book club</h1>
  <p>
    Turn your reading time into learning time with fellow tech enthusiasts. Get
    curated recommendations, join vibrant discussions, and level up your skills
    one chapter at a time.
  </p>

  <CTA />

  <ResponsiveImage
    mobileImgUrl='/assets/media/images/image-hero-mobile.webp'
    tabletImgUrl='/assets/media/images/image-hero-tablet.webp'
    desktopImgUrl='/assets/media/images/image-hero-desktop.webp'
    alt='hero image'
  />
</section>

<style lang='scss'>
  .hero {
    background-color: var(--ivory-tower);
    background-image: url('assets/media/images/pattern-light-bg.svg');
  }
</style>
