---
import FiveStars from './FiveStars.astro';
---

<section class='social-proof'>
  <FiveStars />
  <blockquote>
    <h2>
      "This book club transformed my technical reading from a solitary activity
      into an enriching community experience. The discussions are gold!"
    </h2>
    <h3>Sarah Chen, Software Architect</h3>
  </blockquote>
</section>

<style lang='scss'>
  .social-proof {
    padding-top: 0;
    background-color: var(--blanc);
    blockquote {
      gap: var(--spacing-xl);
      margin-right: var(--spacing-2xl);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      h2,
      h3 {
      }
    }
  }
  @media screen and (min-width: 56.25em) {
    /* Desktop > 1200px */
    .social-proof {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      blockquote {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
</style>
