---
import FiveStars from './FiveStars.astro';
---

<section class='social-proof'>
  <FiveStars />
  <blockquote>
    <h2>
      "This book club transformed my technical reading from a solitary activity
      into an enriching community experience. The discussions are gold!"
    </h2>
    <h3>Sarah Chen, Software Architect</h3>
  </blockquote>
</section>

<style lang='scss'>
  .social-proof {
    padding-top: 0;
    blockquote h2 {
      text-align: left;
      align-items: left;
    }

    @media screen and (min-width: 56.25em) {
      /* Desktop > 900px */
      flex-direction: column;
     
    }

    blockquote {
      text-align: center;
      // align-items: center;
    }
  }
</style>
